/* #title {
    width: 15%;
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
} */

body {
    margin:0;
    overflow: scroll;
}

#container{
    display: flex;
    justify-content: center;
}

.subheader {
   font-family: "alice in wonderland" , serif;
   font-size: 70px;
   user-select: none;
   position: relative;
   padding: 0;
  margin: 10px;
  color: white;
  font-weight: 100;


}


.subheader span{
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0;
}
.subheader span.active{
    animation: smoke 1s linear forwards;
    transform-origin: bottom;
}
@keyframes smoke{
    0%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    50%{
        opacity: 1;
        pointer-events: none;
    }
    100%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
}

input {
    border-radius:20px;
     height: 20px;
     text-align: center;
     font-family: monospace;
     /* font-size: 15px; */
     padding: 0;
     border:0;
     box-shadow:0 0 5px 4px rgba(0,0,0,0.06);
     /* border-color: #E8E8E8;
     color: black; */
     box-sizing: border-box;
     /* max-width:50px; */
     width:100px;
     background-color: none;
 }

 input ,textarea {
   opacity: 95%; 
 }

 #madLibsEdit {
    max-width: 70%;
    text-align: center;
    font-family: superclarendon, serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom, #471e4e , #713974);
   padding: 20px;
   color: white;
   /* opacity: 80%; */
   border-radius: 20px;
 }

 #madLibsEdit span {
   line-height: 30px;
 }

 #editWrap{
    display: flex;
    justify-content: center;
 }

 #background {
    max-width: 100%;
    margin:0;
    padding:0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
 }

 #madLibsPreview {
    font-family: superclarendon, serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    max-width: 70%;
    text-align: center;
    background: white;
    padding: 20px;
    padding-bottom: 110px;
    /* border-radius: 20px; */
    /* opacity: 80%; */
  overflow-wrap: wrap;

 }

 #previewWrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 200px;

 }


 #alice {
    position: relative;
    height: 200px;
    left: -80px;
    bottom:-150px;
    z-index: 1;
 }